.card {
    min-width: 250px;
    max-width: 300px;
    border: 1px solid;
}

.card:hover {
    box-shadow: 0 0 0 1px #000000;
}

.wrapper {
    padding: 10px;
}

.title {
    min-width: 200px;
}

.title:hover {
    cursor: pointer;
}